*.log
*.aux
*.out
*.bbl
*.blg
*.pdf
*.ps
*.dvi
*.toc
*.fdb_latexmk
*.synctex.gz
*.fls
*-blx.bib
*.nav
*.bcf
*.run.xml
*.snm
*.synctex(busy)
*.sty
old/*

*.docx*
*.spl
*.org

__MACOSX
__pycache__
*__pycache__
.snakemake
.vscode

researchdata.reading.ac.uk
notes
resources
results

slides

workflow/scripts/code_snippets.py

ARCHIVE

data

config/config.*.yaml