*.log
*.aux
*.out
*.bbl
*.blg
*.pdf
*.ps
*.dvi
*.toc
*.fdb_latexmk
*.synctex.gz
*.fls
old/*

*.docx*
*.spl
*.org

__MACOSX
__pycache__
*__pycache__
.snakemake
.vscode

researchdata.reading.ac.uk
notes
resources
results

workflow/scripts/code_snippets.py